/* Styles for the page body */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Styles for headings */
h1, h2 {
    color: #2c3e50;
    text-align: center;
}

/* Styles for forms */
form {
    max-width: 500px; /* Increase maximum form width */
    margin: 20px auto;
    padding: 40px; /* Increase internal space */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #313633;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}

/* Styles for result lists */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    color: #16a085;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles for login button */
#login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #0056b3;
}

/* Additional styles for white container */
form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 40px; /* Increase internal space */
    max-width: 500px; /* Adjust maximum form width */
    margin: 20px auto;
    border-radius: 10px;
}

/* Additional styles for result table */
.resultados {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.resultados p {
    margin: 10px 0; /* Space between each result */
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Background color to highlight results */
    border: 1px solid #ddd; /* Border around each result */
}

.resultados p:first-child {
    margin-top: 0; /* Remove top margin from first result */
}

.resultados p:last-child {
    margin-bottom: 0; /* Remove bottom margin from last result */
}

.resultados p strong {
    color: #2c3e50; /* Color of bold text */
}

.resultados p:nth-child(even) {
    background-color: #f0f0f0; /* Alternate background color to highlight results */
}

/* Media queries for iPhone 12 */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
    /* Adjustments for iPhone 12 */
    #login-container {
        width: 90%;
        padding: 20px;
    }
}

/* Media queries for iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    /* Adjustments for iPad Pro */
    body {
        justify-content: center; /* Center the login container on the screen */
    }

    #login-container {
        width: 45%;
        padding: 40px;
    }
}
